################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMP-311/FileContentIndex
/Calc/.vs/Calc/FileContentIndex
/ClassRoster/.vs
/ClassRosterRefactored/.vs
/Bank/.vs
/PricingEngine/.vs
/EventInterfaces/.vs
